body {
  padding-left: 20px;
}

table {
  background-color: rgb(38, 36, 34);
  border: 5px solid black;
  box-shadow: 5px 0px 12px 0;
  padding-top: 5px;
  border-radius: 5px;
}

td input {
  border-radius: 10px;
  background: black;
  color: orange;
  padding: 20px;
}

.answer {
  background-image: radial-gradient(#2c491f, #243a27);
  border-style: inset;
  border-width: 5px;
  border-color: black;
  width: 250px;
  padding-top: 20px;
}

.number {
  width: 100%;
}

.sign {
  width: 100%;
}

.zero {
  width: 100%;
}

.dot {
  width: 100%;
}